apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gaffer.fullname" . }}-schema
  labels:
    {{- include "gaffer.labels" . | nindent 4 }}
data:
{{- if .Values.graph.schema }}
  {{- range $fileName, $contents := .Values.graph.schema }}
  {{ $fileName }}: {{ $contents | quote }}
  {{- end }}
{{- else }}
  {{- range $fileName, $bytes := .Files.Glob "schema/*.json" }}
  {{ base $fileName }}: {{ $bytes | quote }}
  {{- end }}
{{- end }}
