# Copyright 2020 Crown Copyright
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

nameOverride: ""
fullnameOverride: ""

graph:
  config:
    graphId: "simpleGraph"
    description: "A graph for demo purposes"
    hooks: []
  schema: {}
    # elements.json: "{}"
  storeProperties:
    gaffer.cache.service.class: uk.gov.gchq.gaffer.cache.impl.HashMapCacheService
    gaffer.store.job.tracker.enabled: true

# See: https://github.com/gchq/gaffer-tools/tree/master/ui#configuration
ui: "{}"

hdfs:
  enabled: true
  config:
    hdfsSite:
      dfs.datanode.synconclose: true
  volumes:
  - /accumulo
  namenode:
    hostname: "" # Only needs to be set if hdfs.enabled = false
    ports:
      clientRpc: 8020
  postInstallCommands:
  - hadoop fs -mkdir -p /accumulo
  - hadoop fs -chown accumulo /accumulo
  - hadoop fs -chmod 700 /accumulo
  - hadoop fs -ls /

zookeeper:
  enabled: true
  externalHosts: ""
  replicaCount: 1

accumulo:
  instanceId: accumulo
  config:
    path: /etc/accumulo/conf
    files: {}
    accumuloSite:
      instance.secret: ""
      # trace.user: tracer
      # trace.token.property.password: password
      tserver.memory.maps.native.enabled: true
      tserver.memory.maps.max: 128M
      tserver.cache.data.size: 15M
      tserver.cache.index.size: 40M
      tserver.total.mutation.queue.max: 16M
      tserver.sort.buffer.size: 50M
      tserver.walog.max.size: 128M
    userManagement:
      rootPassword: ""
      # If accumulo.config.userManagement.revoke.enabled is:
      # true - Any users or permissions not specified below will be removed
      # false - Only missing users and permissions will be added
      revoke:
        enabled: true
      users:
        tracer:
          password: ""
          permissions:
            system:
            - CREATE_TABLE
            table:
              trace:
              - READ
              - WRITE
        gaffer:
          password: ""
          auths: []
          permissions:
            system:
            - CREATE_TABLE
            table:
              simpleGraph:
              - READ
              - WRITE
              - BULK_IMPORT
              - ALTER_TABLE
    postInstallCommands:
    - users
    - userpermissions -u gaffer
    - getauths -u gaffer

  image:
    repository: gchq/gaffer
    tag: 1.13.4
    pullPolicy: IfNotPresent
    pullSecrets: []

  master:
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}

  tabletServers:
    replicaCount: 3
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}

  gc:
    replicaCount: 1
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}

  cmds:
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}

  monitor:
    replicaCount: 1
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}

    ingress:
      enabled: true
      annotations:
        traefik.ingress.kubernetes.io/rule-type: PathPrefixStrip
      host: ""
      # For Traefik:
      #pathPrefix: /accumulo/
      # For Nginx:
      pathPrefix: "/accumulo/(.*)"

api:
  user: gaffer
  replicaCount: 1
  image:
    repository: gchq/gaffer-rest
    tag: 1.13.4
    pullPolicy: IfNotPresent
    pullSecrets: []
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

  ingress:
    annotations:
      traefik.ingress.kubernetes.io/rule-type: PathPrefixStrip
    host: ""
    # For Traefik:
    #pathPrefix: /gaffer/
    # For Nginx:
    pathPrefix: "/gaffer/(.*)"

waitFor:
  graphStatusOk: true

testImages:
  curl:
    repository: curlimages/curl
    tag: 7.67.0
  operationRunner:
    repository: gchq/gaffer-operation-runner
    tag: 1.13.4
