# Copyright 2020 Crown Copyright
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

nameOverride: ""
fullnameOverride: ""

graph:
  config:
    graphId: "simpleGraph"
    description: "A graph for demo purposes"
    hooks: []
  schema: {}
    # elements.json: "{}"
  storeProperties:
    gaffer.cache.service.class: uk.gov.gchq.gaffer.cache.impl.HashMapCacheService
    gaffer.store.job.tracker.enabled: true
  applicationProperties:
    server.context-path: /rest

ui:
  image:
    repository: gchq/gaffer-ui
    tag: 1.21.1
    pullPolicy: IfNotPresent
    pullSecrets: []
  # See: https://github.com/gchq/gaffer-tools/tree/master/ui#configuration
  # You need to change the REST endpoint if you're using different path prefixes
  config: |-
    {
      "gafferEndpoint": {
        "path": "/rest"
      }
    }

  replicaCount: 1
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

api:
  user: gaffer # May be interpretted by stores depending on implementation
  replicaCount: 1
  image:
    repository: gchq/gaffer-rest
    tag: 1.21.1
    pullPolicy: IfNotPresent
    pullSecrets: []
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

ingress:
  enabled: true
  annotations:
    traefik.ingress.kubernetes.io/rule-type: PathPrefixStrip
  host: ""
  pathPrefix:
    ui: /ui/(.*)
    api: /rest/(.*)

waitFor:
  graphStatusOk: true

test:
  runIntegrationTests: false
  images:
    integration:
      repository: gchq/gaffer-integration-tests
      tag: develop
    curl:
      repository: curlimages/curl
      tag: 7.67.0


# Extras

accumulo:
  enabled: false
  image:
    repository: gchq/gaffer
    tag: 1.21.1
  config:
    postInstallCommands:
    - users
    - userpermissions -u gaffer
    - getauths -u gaffer
    userManagement:
      users:
        gaffer:
          password: "gaffer"
          auths: []
          permissions:
            system:
            - CREATE_TABLE
            table:
              simpleGraph:
              - READ
              - WRITE
              - BULK_IMPORT
              - ALTER_TABLE
