name: Integration Tests

on:
  workflow_dispatch:
  schedule:
  - cron: "0 9 * * 1,4"
jobs:
  Build:
    runs-on: ubuntu-latest
    env:
      GAFFER_VERSION: develop
      GAFFER_TOOLS_VERSION: develop
    steps:    
    - uses: actions/checkout@v2

    - name: Build images
      run: |
        source ./docker/accumulo/.env
        docker-compose --project-directory ./docker/accumulo/ -f ./docker/accumulo/docker-compose.yaml build
        docker-compose --project-directory ./docker/gaffer/ -f ./docker/gaffer/docker-compose.yaml build
        docker build -t gchq/gaffer-integration-tests:$GAFFER_VERSION ./docker/gaffer-integration-tests

    - name: Install Helm charts
      run: ./cd/install_dependencies.sh

    - name: Start KinD
      run: |
        source ./docker/accumulo/.env
        kind create cluster --config ./cd/kind.yaml --image kindest/node:v1.22.9
        kind load docker-image gchq/hdfs:$HADOOP_VERSION
        kind load docker-image gchq/gaffer:$GAFFER_VERSION
        kind load docker-image gchq/gaffer-rest:$GAFFER_VERSION
        kind load docker-image gchq/gaffer-ui:$GAFFER_TOOLS_VERSION
        kind load docker-image gchq/gaffer-integration-tests:$GAFFER_VERSION

    - name: Deploy Gaffer
      run: |
        helm install gaffer ./kubernetes/gaffer --timeout=6m -f ./kubernetes/gaffer/integration-tests.yaml \
          --set accumulo.hdfs.config.hdfsSite."dfs\.namenode\.datanode\.registration\.ip-hostname-check"=false 
        
    - name: Run Integration Tests
      run: helm test gaffer --timeout=40m

    - name: Send success message to ms teams
      if: ${{ success()}}
      uses: fjogeleit/http-request-action@master
      with:
          url: ${{ secrets.WORKFLOW_URL}}
          method: 'POST'
          data: '{"@context": "https://schema.org/extensions","@type": "MessageCard","title": "GitHub Actions Message","text": "Gaffer succesfully deployed and Integration Tests passing \n\n Click [here](https://github.com/gchq/gaffer-docker/actions) for workflow overview and logs"}'

    - name: Print logs from Integration tests
      if: ${{ failure() }}
      run: kubectl logs pods/gaffer-accumulo-integration-tests
    
    - name: Send failure message to ms teams
      if: ${{ failure()}}
      uses: fjogeleit/http-request-action@master
      with:
          url: ${{ secrets.WORKFLOW_URL}}
          method: 'POST'
          data: '{"@context": "https://schema.org/extensions","@type": "MessageCard","title": "GitHub Actions Message","text": "Gaffer Integration Tests Unsuccessful \n\n Click [here](https://github.com/gchq/gaffer-docker/actions) for workflow overview and logs"}'  
       
